/* banner */
.photographer-header {
  background-color: var(--lightgrey);
  border-radius: 5px;
  min-height: 300px;

  padding: 0 50px;
  margin: 0 100px 1.5rem;

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  gap: 1rem;
}

.photographer-header > :first-child {
  margin: 2rem auto 4rem;
  flex: 1 1;
}

.photographer-header > :nth-child(2) {
  flex: 2 1;
  max-width: fit-content;
}

.photographer-header > :last-child {
  margin: auto auto;
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
}

/* name */
.photographer-header h1 {
  color: var(--orange);
  font-weight: 400;
  font-size: 4rem;
  margin-top: 0;
  margin-right: 0;
}

/* location */
.photographer-header div > p:nth-child(2) {
  color: var(--red);
  font-weight: 400;
  font-size: 1.5rem;
}

/* tagline */
.photographer-header div > p:nth-child(3) {
  font-weight: 400;
  font-size: 1.125rem;
}

.contact_button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;

  border: none;
  background-color: var(--red);
  border-radius: 5px;

  cursor: pointer;
}

.photographer-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/* sort */
.sort {
  margin: 0 100px 40px;
  font-size: 1.125rem;
  font-weight: 500;
}

/* media */
section.media {
  max-width: 1440px;
  margin: 0 100px 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 50px;
}

section.media div {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  margin-bottom: 30px;
}

section.media article div {
  display: flex;
  flex-flow: row nowrap;
  color: var(--red);
  font-size: 1.5rem;
  overflow: hidden;
  max-width: 100%;
  user-select: none;
}

section.media h2 {
  font-size: 1.5rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: auto;
}

section.media p:nth-child(2) {
  font-weight: 500;
  white-space: nowrap;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

section.media i {
  z-index: 1;
}

section.media img,
section.media video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

/* price */
.price {
  z-index: 2;

  height: 60px;
  width: 370px;
  box-sizing: inherit;

  position: fixed;
  bottom: 0;
  right: 4rem;
  padding: 0px 34px;
  background-color: var(--orangeB);
  border-radius: 5px 5px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 500;
}

/* modal */
#contact_modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;

  background-color: rgba(196, 196, 196, 0.4);
}

.modal {
  border-radius: 5px;
  background-color: var(--orangeB);
  width: 50%;
  max-width: 620px;
  height: fit-content;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  box-sizing: border-box;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
}

.modal header h2 {
  font-size: 4rem;
  font-weight: normal;
  padding-right: 3rem;
  width: calc(100% - 3rem);

  overflow: hidden;
  word-break: break-word;

  text-overflow: ellipsis;
  white-space: nowrap;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  box-sizing: border-box;

  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 1rem;

  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

form textarea {
  padding-top: 1rem;
  height: 136px;
  resize: none;
}

.invalid-fields {
  color: var(--red);
  font-size: 1rem;
  font-weight: 500;
  display: none;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.invalid-field {
  display: block;
}

/* slider */
.slider-bg {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;

  background-color: rgba(255, 255, 255, 1);
}

.slider {
  position: relative;
  width: fit-content;
  height: fit-content;

  max-width: 80vw;
  max-height: 80vh;
  margin: auto auto;

  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.slide-container {
  display: none;
  grid-column: 2;
  grid-row: 1;

  object-fit: cover;
  gap: 0px;
}

.active {
  display: flex;
}

.slide img,
.slide video {
  width: 100%;
  max-width: 100%;
  max-height: 75vh;
}

.slide h2 {
  height: 5vh;
  color: var(--red);
  font-weight: 400;
}

.close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;

  color: var(--red);
  background: none;
  border: none;
  transform: scale(2);
  cursor: pointer;
}

.previous {
  place-self: center left;
  width: 25px;
  height: 25px;

  color: var(--red);
  background: none;
  border: none;
  transform: scale(2);
  cursor: pointer;
}

.next {
  place-self: center right;
  grid-column: 3;
  width: 25px;
  height: 25px;

  color: var(--red);
  background: none;
  border: none;
  transform: scale(2);
  cursor: pointer;
}

@media (max-width: 1440px) {
  .photographer-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .photographer-header > :first-child {
    grid-column: 1 / 5;
    width: 100%;
  }

  .photographer-header > :nth-child(2) {
    order: 3;
    grid-column: 1 / -1;
    margin: 0 0 3rem;
  }

  .photographer-header > :last-child {
    grid-column: 5/7;
    width: 100%;
    margin-top: 2.5rem;
    align-self: start;
  }

  .modal {
    min-width: 60vw;
  }
}

/**/
@media (max-width: 1024px) {
  /* banner */
  .photographer-header {
    margin: 3rem 100px 3rem;
  }

  .photographer-header > :first-child {
    grid-column: 1 / 7;
    width: 100%;
    order: 2;
    text-align: center;
    margin: 1rem auto 3rem;
  }

  .photographer-header > :nth-child(2) {
    order: 3;
    grid-column: 1 / 7;
    margin: 0 auto 3rem;
  }

  .photographer-header > :last-child {
    order: 1;
    grid-column: 1 / 7;
    width: 100%;
    justify-content: center;
    margin: 2.5rem auto 0;
  }

  .photographer-header h1 {
    margin: 0;
  }
  section.media {
    grid-template-columns: 1fr;
  }

  section.media img,
  section.media video {
    height: fit-content;
    max-height: 80vh;
  }

  .price {
    z-index: 2;
    box-sizing: border-box;

    height: 4rem;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .slider {
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
  }

  .close {
    top: 1rem;
    right: 1rem;
  }

  .modal header h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  /* banner */
  .photographer-header {
    margin: 3rem 10px 3rem;
  }

  /* sort */
  .sort {
    margin: 0 10px 40px;
  }

  /* media */
  section.media {
    margin: 0 10px;
  }

  .modal {
    min-width: 90vw;
  }

  .modal header h2 {
    font-size: 2.5rem;
  }
}
.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: var(--orange) var(--red);
}
.styled-scrollbars::-webkit-scrollbar {
  width: 0.5rem; /* Mostly for vertical scrollbars */
  height: 0.5rem; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--red);
}
.styled-scrollbars::-webkit-scrollbar-track {
  /* Background */
  background: var(--orangeB);
}
