/* sorting section rules */

/* main container */
.sorting {
  margin: 0 100px 40px;

  display: flex;
}

.sorting h2 {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.5rem 0;
  padding-right: 1rem;
}

.sorting button,
.sorting li {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.sorting li {
  padding: 0.75rem 1rem;
  align-items: baseline;
}

.sorting svg {
  padding: 0.5rem 1rem;
  z-index: 5;
}

/* select-like div container */
.select-like {
  position: relative;
  user-select: none;
  z-index: 4;
}

/* main button */
.select-like > button {
  display: flex;
  align-items: center;
  width: 170px;
}

#sorting-options {
  display: none;
  position: absolute;
  top: 0;
  width: 170px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.select-like > * {
  background-color: var(--red);
  border-radius: 5px;
}

.select-like button,
.select-like li {
  color: white;
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 3rem;
}

#dropDownArrow {
  height: 0.8rem;

  margin: 0;
  padding: 0;

  position: absolute;
  right: 1rem;
  top: calc(50% - 0.4rem);

  fill: none;
  stroke: white;
  stroke-width: 0.1rem;

  transition: transform 0.15s ease-in-out;
  cursor: pointer;
}

.U-turn {
  transform: translateY(-0.2rem) rotate(180deg);
}

.select-like hr {
  margin: 0 1rem;
  border: 0.05rem solid white;
}

#sorting-options.deployed {
  display: block;
}

@media (max-width: 768px) {
  .sorting {
    margin: 0 10px 40px;
  }
}
