@import url("photographer.css");
@import url("animation.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --red: #901c1c;
  --orange: #d3573c;
  --orangeB: #db8876;
  --grey: #525252;
  --lightgrey: #fafafa;

  font-size: 16px;
  font-family: "DM Sans", sans-serif;

  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
}

button {
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  line-height: 150%;
}

h1 {
  color: var(--red);
  margin: 30px 100px 30px 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 30px 0 30px 100px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover,
.logo:focus {
  transform: scale(1.05);
}

.logo img {
  height: 50px;
}

/* container of the photographer's galery */
.photographers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;

  max-width: 1240px;

  margin: 6rem 100px 6rem;
}

/* container of the photographer's individuals cards */
.photographers article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* link */
.photographers a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.photographers a:hover {
  transform: scale(1.05);
}

/* portrait */
.photographers img {
  height: 200px;
  width: 200px;

  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  margin-bottom: 1rem;
}

.photographers a:hover img {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

/* name */
.photographers h2 {
  color: var(--orange);
  font-size: 2.25rem;
  font-weight: 400;
}

/* location */
.photographers p:nth-child(3) {
  color: var(--red);
  font-size: 1rem;
  font-weight: 400;
}

/* tagline */
.photographers article p:nth-child(4) {
  color: var(--grey);
  font-size: 0.8rem;
}

/* price */
.photographers article p:nth-child(5) {
  color: var(--grey);
  font-size: 0.6rem;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (max-width: 768px) {
  header {
    flex-flow: column nowrap;
    justify-content: center;
  }

  .logo {
    margin: 30px 0 0.5rem 0;
  }

  h1 {
    margin: 0 0 30px 0;
  }

  .photographers {
    margin: 3rem 10px 3rem;
  }
}
